@font-face {
    font-family: 'satoshi';
    src: url('../font/Satoshi-Regular.otf') format("otf"),
        url('../font/Satoshi-Medium.otf') format("otf");
}

:root{
    --c-primary:hsl(0, 0%, 0%);
    --c-secondary:hsl(0, 0%, 100%);

    --c-grey-dark:hsl(0, 0%, 44%);
    --c-grey-light:hsl(0, 0%, 65%);
    --c-tertiary:hsl(255, 64%, 58%);
    
    
    --width-grid:100rem; 
}

/*utilities*/
.u-text-align-center{text-align: center !important;}
.u-mb-big{ margin-bottom: 6rem !important}
.u-is-active{color: var(--c-tertiary) !important;}
.u-mt-medium {margin-top: 4rem !important;}
.

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;

}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html{
    font-size: 62.5%;
}

body{
    font-family: 'satoshi',sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--c-grey-dark);
}

.section-faq{
    padding: 10rem 0;
    position: relative;
}
.heading-3,
.heading-2{
    font-weight: 500;
}
.heading-2{
    font-size: 4rem;
    color: var(--c-primary);
}
.heading-3{
    font-size: 2rem;
    color: var(--c-primary);
}


.row{
    max-width: var(--width-grid);
    margin: 0 auto;
    padding: 0 20rem;
}

.c-accordian{
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid var(--c-grey-light);
    padding: 1.5rem .5rem;
}

.c-accordian:focus{
  border: none;
  outline: .2rem solid var(--c-primary);
}

.c-accordian__controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-accordian__content{
    margin-top: 1.6rem;
    max-height: 100rem;
    transition: max-height .5s ease;
}

.is-hidden{
    max-height: 0;
 
    overflow: hidden;
   
   
}
.c-btn{
    appearance: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    background-color: transparent;
    display: inline-flex;
}

.c-btn--show-more{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    background-color: var(--c-primary);
    padding: 1.4rem 4rem;
    color: var(--c-secondary);

}

@media only screen and  (max-width:50.938em){
    html{
      font-size: 50%;
    }
    .heading-2{
      font-size: 3rem;
    }

  .row{
      padding: 0 5rem;
  }
}

@media only screen and  (max-width:76.7em)
{  
    .row{
        padding: 0 6rem;
    }
}